<!DOCTYPE html>
<html>
<head>
  <title>Request</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to "home", root_path %> |
 <%= link_to "Add message", messages_path %>

<%= yield %>

</body>
</html>
